/* Variables */
:root {
  --text-color: rgb(247, 249, 253);
  --text-color-dark: rgb(125, 128, 128);

  --contrast-text-color: rgb(50, 52, 52);
  --contrast-text-color-light: rgb(70, 72, 72);

  --accent-color: #0087f3;
  --accent-color-light: #1694ff;
  --accent-color-dark: #007fe7;
}

/* --- General --- */
* {
  overflow-x: hidden;
}

body {
  background-color: #000;
}

small {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: bold;
}

h3, h4, h5 {
  margin-bottom: 0.5rem;
}

q {
  display: block;
  font-size: 2.5rem;
  padding: 2rem 0 0.5rem 0;
}

q + small {
  color: var(--text-color-dark);
}

/* Buttons */

button {
  border-radius: 1.5rem;
  padding: 0 1rem;
  transition: 0.3s;
}

button.active {
  background-color: var(--accent-color);
  color: var(--text-color);
}

button.active:hover {
  background-color: var(--accent-color-dark);
  color: var(--text-color);
}

button.active:focus {
  background-color: var(--accent-color-light);
  color: var(--text-color);
}

/* Radio Buttons */

input[type="radio"], input[type="radio"] + span {
  --radio-size: 0.7rem;
  --radio-border: 0.1rem;
}

/* Hide radio button */
input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: var(--radio-size);
  width: var(--radio-size);
}

/* Style span element */
input[type="radio"] + span {
  display: inline-block;
  height: var(--radio-size);
  width: var(--radio-size);
  border: var(--radio-border) solid var(--text-color-dark);
  border-radius: 50%;
  transition: 0.3s;
}

/* Hover Radio */
input[type="radio"] + span:hover {
  border-color: var(--text-color);
}

/* Check radio */
input[type="radio"]:checked + span {
  border-color: rgba(0, 0, 0, 0);
  background-color: var(--accent-color);
}

/* Hover checked Radio*/
input[type="radio"]:checked:hover + span {
  background-color: var(--accent-color-light);
}

/* --- Sections --- */
section {
  padding: 8rem 0 7rem;
  color: var(--text-color);
}

.section-heading, .section-description {
  margin-bottom: 1.2rem;
}

/* Navigation */
nav.container {
  --logo-size: 5rem;

  margin-top: 1rem !important;
}

nav.container > div {
  display: flex;
  align-items: center;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

nav a:not(:first-child) {
  margin-left: 3rem;
}

nav a img {
  width: var(--logo-size);
  height: var(--logo-size);
}

.nav-right {
  margin-left: auto !important;
}

.nav-right > * {
  width: auto;
}

/* Hero */
.hero {
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

video {
  position: absolute;
  object-fit: cover;
  filter: brightness(40%);
  z-index: -1;
  background-color: #000;
}

/* Tab */

.tab {
  background-color: #fff;
  padding: 5rem 0;
  color: var(--contrast-text-color);
}

.tab > .container:first-child {
  text-align: center;
  margin-bottom: 3rem;
}

/* Reviews */

.reviews {
  padding-top: 28rem;
  padding-bottom: 10rem;
  background-image: url("../assets/images/reviewsBackground.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.reviews small:first-child {
  color: var(--text-color);
  text-shadow: 0 0 3px var(--contrast-text-color);
}

.reviews label {
  display: inline;
}
