/* Variables */
:root {
  --text-color: rgb(247, 249, 253);
  --text-color-light: rgb(213, 218, 218);
  --text-color-dark: rgb(125, 128, 128);

  --contrast-text-color: rgb(50, 52, 52);
  --contrast-text-color-light: rgb(70, 72, 72);
  --contrast-text-color-dark: rgb(29, 30, 30);

  --accent-color: #0087f3;
  --accent-color-light: #1694ff;
  --accent-color-dark: #007fe7;
}

/* --- General --- */
* {
  overflow-x: hidden;
  transition: 0.3s;
}

body {
  background-color: var(--contrast-text-color);
}

/* --- Sections --- */
.section, section {
  padding: 8rem 0 7rem;
  color: var(--text-color);
}

.section-heading, .section-description {
  margin-bottom: 1.2rem;
}

/* Navigation */
nav.container {
  --logo-size: 5rem;

  margin-top: 1rem !important;
}

nav.container > div {
  display: flex;
  align-items: center;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

nav a:not(:first-child) {
  margin-left: 3rem;
}

nav a img {
  width: var(--logo-size);
  height: var(--logo-size);
}

.nav-right {
  margin-left: auto !important;
}

.nav-right > * {
  width: auto;
}

/* Hero */
.hero {
  transition: unset;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
}

video {
  position: absolute;
  object-fit: cover;
  filter: brightness(40%);
  z-index: -1;
  background-color: #000;
}

/* Tab */

.tab {
  background-color: #fff;
  padding: 5rem 0;
  color: var(--contrast-text-color);
}

.tab > .container:first-child {
  text-align: center;
  margin-bottom: 3rem;
}

.tab img {
  object-fit: cover;
  width: 98%;
  padding: 3px;
  border: 1px solid var(--text-color-dark);
  border-radius: 2% / 4%;
}

.tab div:has(> img) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Reviews */

.reviews {
  padding-top: 28rem;
  padding-bottom: 10rem;
  background-image: url("../assets/images/reviewsBackground.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.reviews small:first-child {
  color: var(--text-color);
  text-shadow: 0 0 3px var(--contrast-text-color);
}

.reviews label {
  display: inline;
}

/* Advantages */

.advantages {
  background-color: var(--contrast-text-color-dark);
}

.advantages .row:not(:first-child) {
  text-align: center;
}

.advantages img {
  width: 8rem;
  height: 8rem;
}

/* Bugs */
.bug input:not([type="submit"]), .bug textarea {
  width: 100%;
  color: var(--contrast-text-color);
}

.bug textarea {
  resize: none;
  height: 9rem;
}

/* Imprint */

footer {
  background-color: var(--contrast-text-color-dark);
  font-size: 1.3rem;
}

footer h5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

footer p > a {
  font-weight: bold;
}

footer p, footer a {
  color: var(--text-color-dark);
  text-decoration: none;
}
