/* Variables */
:root {
  --text-color: rgb(247, 249, 253);
}

/* General */
* {
  overflow-x: hidden;
  color: var(--text-color);
}

/* Sections */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading, .section-description {
  margin-bottom: 1.2rem;
}

/* Navigation */
nav.container {
  --nav-height: 5rem;

  margin-top: 1rem !important;
  height: var(--nav-height);
}

nav.container > div {
  position: relative;
  top: 50%;
  translate: 0 -50%;
  vertical-align: center;
}

nav a {
  vertical-align: middle;
  text-decoration: none;
  color: var(--text-color);
}

a img {
  width: var(--nav-height);
  height: var(--nav-height);
}

.nav-right {
  float: right;
  display: flex;
  justify-content: space-between;
  height: var(--nav-height);
}

.nav-right > * {
  width: auto;
}

/* Hero */
.hero {
  padding: 0;
  width: 100vw;
  height: 100vh;
}

video {
  position: absolute;
  object-fit: cover;
  filter: brightness(40%);
  z-index: -1;
}
